<% include partials/header %>

<form action="/login" method="post">

<div class="ui form center">
  <div class="field">
    <label>Username:</label>
    <input type="text" name="username" value="">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" value="">
  </div>
  <button type="submit" class="ui button" name="button">Login</button>
</div>

</form>



<% include partials/footer %>
